{
    auto_https off

    log {
        level DEBUG
    }
}

:8443 {
    log {
        output stdout
        format json
    }

    tls /etc/caddy/certs/cert.pem /etc/caddy/certs/key.pem

    reverse_proxy minio:9001 {
        transport http {
            versions 1.1
            read_timeout 0
            write_timeout 0
        }

        flush_interval -1
    }
}